html,body{
	margin: 0;
	padding: 0;
}

section.visualizer{
	margin-top: 50px;
	margin-bottom: 50px;
}

figure.face{
	background: rgba(0, 0, 0, 1);
}

div.label{
	float: left;
	margin: 2.5px;
	width: 60px;
	height: 57px;
	padding-top: 3px;
	line-height: 34px;
	background: white;
	color: black;
	text-align: center;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: bold;
}

div.partType{
	line-height: 20px;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
}

section#options button{
	background: black;
	color: white;
	outline: none;
	border: none;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
}