html,body{
	margin: 0;
	padding: 0;
}

/*div#cubeSpace{
	border: 10px solid black;
	padding: 5px;
	width: 450px;
	height: 600px;
}*/

/*figure.face{
	float: left;
	margin: 5px;
	background: black;
	width: 135px;
	height: 135px;
	padding: 2.5px;
}*/

figure.face{
	background: rgba(0, 0, 0, 0.75);
}

div.label{
	float: left;
	margin: 2.5px;
	width: 60px;
	height: 57px;
	padding-top: 3px;
	line-height: 34px;
	background: white;
	text-align: center;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: bold;
}

div.partType{
	line-height: 20px;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
}